.header {
	height: 70px;
	margin-left: 20px;
	position:absolute;
	top:0;
	background-color:#9CF;
}
.header .logo {
	background-image: url(/home/subir/lms/src/assets/reader-512.png);
	height: 70px;
	width: 90px;
	margin-top:5px;
	position:absolute;
}
.header .title {
	height: 50px;
	width:580px;
	margin-left: 120px;
	position:absolute;
	font-size:34px;
	font-family: Papyrus;
	color: #009;
	padding-top:15px;
}
			/* end of title bar */
			

			/* menu bar */
			
.menubar {
	height: 25px;
	width: 100%;
	margin-top:75px;
	position:absolute;
	background-color: #77b300;
	padding-top: 3px;
	color:#333;
	overflow: visible;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:18px;
}

.menubar .menu .home{
	height:25px;
	width:15px;
	margin-left:25px;
	text-decoration:none;
	color: #009;;
	position:absolute;
}
.menubar .menu .about{
	height:25px;
	width:50px;
	margin-left:90px;
	text-decoration:none;
	color: #009;
	
}
.menubar .menu .home:hover {
	font-weight:bold;
	color:#333;
}
.menubar .menu .about:hover {
	font-weight:bold;
	color:#333;
}
.menubar .menu .login {
	float:right;
	margin-right:10px;
	text-decoration:none;
	color: #009;	
	}
.menubar .menu .signup {
	float:right;
	margin-right:27px;
	text-decoration:none;	
	color: #009;
	}
.menubar .menu .login:hover {
	font-weight:bold;
	color:#333;
}
.menubar .menu .signup:hover {
	font-weight:bold;
	color:#333;
}
