.footer {
	background: linear-gradient(#ff9933, white, #77b300);
	height: 30px;
	bottom:0;
	width:100%;
	position:fixed;
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
