.popup{
  width: 600px;
}
.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

  .close {
    position: absolute;
    top: 0;
    right: 0;
  }

  .button ~ .button {
    margin-right: 100px;
  }