<!--The content below is only a placeholder and can be replaced.-->
<!-- <div fxLayout="row" fxLayout.xs="column" >
    <div fxFlexOrder="1">side1</div>
    <div fxFlexOrder="2">side2</div>
    <div fxFlexOrder="3">side3</div>
    <div fxFlexOrder="4">side4</div>
</div> -->

<!-- <app-header></app-header>
<router-outlet></router-outlet>
<app-content></app-content>
<app-footer></app-footer> -->

<mat-drawer-container class="example-container">
    <mat-drawer #sideNav mode="side" opened="true" [position]="nav_position">
        <mat-list>
            <mat-list-item> Home </mat-list-item>
            <mat-list-item> About </mat-list-item>
            <mat-list-item> Log in / Sign in </mat-list-item>
           </mat-list>
    </mat-drawer>
    <mat-drawer-content>
      <button (click)="sideNav.toggle()" mat-icon-button>
        <mat-icon>list</mat-icon>
      </button>
      <!-- <button (click)="onTogglePosition(nav_position)" mat-button>Toggle Position {{ nav_position }}</button> -->
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
  
