<mat-card class="signup">
    <mat-card-header class="header">
        <mat-card-title>Registration form:</mat-card-title>
        <mat-card-subtitle style="color: aliceblue">Wellcome to LMS</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

        <form [formGroup]="signUp" (ngSubmit)="addStudent()" *ngIf="!!signUp">

            <ng-template [ngIf]="ut== 'STUDENT' ">
                <div formGroupName="details" *ngIf="ut=='STUDENT'">
                    <mat-form-field style="width: 100%">
                        <input formControlName="firstName" matInput placeholder="First Name :">
                    </mat-form-field>
                    <mat-form-field style="width: 100%">
                        <input formControlName="lastName" matInput placeholder="Last Name :">
                    </mat-form-field>
                    <mat-form-field style="width: 100%">
                        <input formControlName="email" matInput placeholder="Email-ID :">
                    </mat-form-field>

                    <mat-form-field style="width: 100%">
                        <input formControlName="phoneNo" matInput placeholder="Phone Number :">
                    </mat-form-field>

                    <mat-form-field style="width: 100%">
                        <input formControlName="subject" matInput placeholder="Subject :">
                    </mat-form-field>

                    <mat-form-field style="width: 100%">
                        <input formControlName="class" matInput placeholder="Class :">
                    </mat-form-field>

                    <mat-form-field style="width: 100%">
                        <input formControlName="languageKnnown" matInput placeholder="Language Known :">
                    </mat-form-field>
                    <mat-form-field style="width: 100%">
                            <input formControlName="location" matInput placeholder="Location :">
                    </mat-form-field>
                </div>

            </ng-template>

            <ng-template [ngIf]="ut== 'TEACHER' ">
                <div formGroupName="details">
                    <mat-form-field style="width: 100%">
                        <input formControlName="firstName" matInput placeholder="First Name :">
                    </mat-form-field>
                    <mat-form-field style="width: 100%">
                        <input formControlName="lastName" matInput placeholder="Last Name :">
                    </mat-form-field>
                    <mat-form-field style="width: 100%">
                        <input formControlName="email" matInput placeholder="Email-ID :">
                    </mat-form-field>

                    <mat-form-field style="width: 100%">
                        <input formControlName="phoneNo" matInput placeholder="Phone Number :">
                    </mat-form-field>


                </div>

            </ng-template>





            <div formGroupName="login">
                <mat-form-field style="width: 100%">
                    <input formControlName="UserName" matInput placeholder="Enter User-Name :">
                </mat-form-field>

                <mat-form-field style="width: 100%">
                    <input matInput type="password" placeholder="Password" formControlName="Password">
                </mat-form-field>
            </div>



            <div class="example-button-row">
                <!--<button mdbBtn type="subnit" color="primary" rounded="true" mdbWavesEffect>Submit</button>-->
                <button mat-raised-button color="primary" type="submit" >Submit</button>
                <button mat-raised-button color="primary" type="button" (click)="onClose()">Cancel</button>
            </div>
            
        </form>
    </mat-card-content>
</mat-card>