table {
    width: 100%;
  }
  
 th.mat-sort-header-sorted {
    color: black;
  }
  
  ::ng-deep .my-class .modal-dialog { 
    max-width: 80%;
    width: 80%;
}

.modal-xl {
    max-width: 1000px;
  }
  